
    @keyframes color {/* Define a animação de mudança de cor */
    0%{background-color: #333333;}/* Cor inicial */
    50%{background-color: #5f5f5f;}/* Cor intermediária */
    100%{background-color: #363636;}/* Cor final */

}
body{
    display: flex;       
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background: #1100ff;
    animation: color 9s infinite;/* Aplica a animação de mudança de cor ao fundo do corpo */
        

}


.main{
    background-color: #ffffff;
    padding: 50px;
    border-radius: 5px;
   
}
input{
    padding: 10px;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
}
button{
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #272727;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;/* Altera o cursor para indicar que o botão é clicável */
    width: 100px;
}
button:hover{
    background-color: #6d6d6d;
}
p{
    margin-top: 10px;
    color: #000000;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

